<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Art Searcher</title>
</head>
<body>
    <p> This searcher is designed to look for matches in the Asmat-American Museum of Art, the Walker Art Musuem, and
        the Minneapolis Institute of Art. It will then display the name of the piece, the artist, the year it was created,
        which museum it is at, and an image if one is available.</p>

    <form action="/results" method="get">{% csrf_token %}
        <label for="search_term">Please enter your search term.</label>
        <br>
        <input id="search_term" type="text" name="search_term" >
        <br>
        <input id="aama_check" type="checkbox" checked><label for="aama_check">Asmat-American Museum of Art</label>
        <br>
        <input id="mia_check" type="checkbox" checked><label for="mia_check"> Minneapolis Institute of Art</label>
        <br>
        <input id="walker_check" type="checkbox" checked><label for="walker_check">Walker Art Museum</label>
        <br>
        <input type="submit" value="Search">
    </form>

</form>
</body>
</html>